<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's my profile</h1>
    <p>I'm baby fanny pack master cleanse gastropub, dreamcatcher echo park occupy before they sold out cray yes plz literally taiyaki thundercats waistcoat enamel pin. Blackbird spyplane praxis master cleanse, synth man braid hashtag stumptown umami direct trade health goth chambray palo santo. Bruh put a bird on it selfies, umami pop-up letterpress fixie pork belly twee wayfarers cray you probably haven't heard of them retro XOXO</p>
  </div>
</div>